.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.one{
    display: flex;
    justify-content: space-between;
    width: 70%;
    text-align: center;
}

.two{
    display: flex;
    justify-content: space-between;
    width: 70%;
    text-align: center;
}